

.form-container{
    height: 58vh;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
    margin-bottom: 50px;
}
.form-image{
    height: 55vh;
    width: 47%;
    background-image:url('../Assets/dental6.jpg'); 
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; 
    border-radius: 50px;
    margin: 40px;
   
}

.text-form{
    font-size: 32px;
    font-weight: bold;
    color: #221e1e;
    font-family: "Montserrat", sans-serif;
    text-align: center;
}



.button-submit-center{
    width: 100%;
    display: flex;
    justify-content: center;
}
.form-right{
    height: 50vh;
    width: 47%;
}

.form-latest-btns{
    filter: drop-shadow(4px 6px 12px black);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    /* font-family:cursive; */
    width: 250px;
    height: 60px;
    border-radius: 15px;
    background: #00b241;
    color: white;
    font-size: 24px;
    font-weight: 500;
    cursor: pointer;
    margin-top: 20px
}

.shadow-core{
    filter: drop-shadow(4px 6px 12px black);
}



@media(max-width:1200px){
    
    
   
}
@media(max-width:900px){
   
    
}
@media(max-width:700px){

    .form-container{
        height: 100%;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        margin-top: 50px;
        margin-bottom: 250px;

    }
    .form-image{
        height: 55vh;
        width: 95%;
        background-image:url('../Assets/dental6.jpg'); 
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover; 
        border-radius: 50px;
       margin: 10px;
    }


    .form-right{
        height: 50vh;
        width: 100%;
    }

    .text-form{
        font-size: 22px;
        font-weight: bold;
        color: #221e1e;
        font-family: "Montserrat", sans-serif;
        text-align: center;
        margin-bottom: 10px;
    }
}
