.galery-section {
  /* background-image:url('../Assets/homev2.jpg'); */
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 46vh;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-top: 50px;
}

.title-galery{
  width: 100%;
  height: 50px;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
  h2{
    font-size: 40px;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 40px;
    text-align: center;
  }
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.photo-one {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url("../Assets/pro1.jpg");
  border-radius: 30px;
}

.photo-two {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url("../Assets/pro2.jpg");
  border-radius: 30px;
}

.photo-three {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url("../Assets/pro3.jpg");
  border-radius: 30px;
}

.photo-four {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url("../Assets/pro4.jpg");
  border-radius: 30px;
}

.photo-five {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url("../Assets/pro5.jpg");
  border-radius: 30px;
}

.photo-six {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url("../Assets/pro6.jpg");
  border-radius: 30px;
}

.photo-seven {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url("../Assets/pro7.jpg");
  border-radius: 30px;
}
.photo-eight {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url("../Assets/pro8.jpg");
  border-radius: 30px;
}

.photo-nine {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url("../Assets/pro9.jpg");
  border-radius: 30px;
}


.shadow-core {
  filter: drop-shadow(4px 6px 12px black);
}

@media (max-width: 1200px) {

}
@media (max-width: 900px) {

}
@media (max-width: 700px) {

  .promotions {
    height: 100%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }

  .promotions-rights{
    width: 100%;
    

  }
  .promotions-lefts{
    width: 100%;
    height: 100%;
    margin-bottom: 40px;
    p{
      font-size: 18px;
    }
  }


 
}
