

.hero{
    background-image:url('../Assets/homev2.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 70vh;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.hero-left{
    height: 70vh;
    width: 50%;
    line-height: 1.1;
    padding-top: 100px;
}
.hero-right{
    height: 70vh;
    width: 50%;
 
}

.azul{
    width: 200px;
    height: 200px;
    background: blue;
}

.verde{
    width: 200px;
    height: 200px;
    background: green;
}

.hero-right-carrusel{
    height: 70vh;
    width: 100%;
}
.hero-left h2{
    color:rgb(216, 160, 166) !important ;
    font-size: 18px;
}

.hero-left p{
    color:#221e1e;
    font-size: 70px;   
    font-weight: bold;
    filter: drop-shadow(5px 1px 2px rgb(102, 100, 100));
    font-family: 'Montserrat', sans-serif;
    padding-left: 200px;
}
.hero-hand-icon{
    display: flex;
    align-items: center;
    gap: 20px;
}
.hero-hand-icon img{
    width: 70px;
}
.hero-latest-btn{
    filter: drop-shadow(4px 6px 12px black);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    /* font-family:cursive; */
    width: 350px;
    height: 80px;
    border-radius:15px;
    margin-top: 20px;
    background: #00b241;
    color: white;
    font-size: 24px;
    font-weight: 500;
    cursor: pointer;
    margin-top: 80px;
    margin-left: 200px;
}
.hero-latest-btn img{
    width: 18px;
}

.hero-right img{
    width: 450px;
}

.kenburns-bottom {
	-webkit-animation: kenburns-bottom 5s ease-out both;
	        animation: kenburns-bottom 5s ease-out both;
}
.shadow-core{
    filter: drop-shadow(4px 6px 12px black);
}



@media(max-width:1200px){
    
    .hero{
        padding: 10px 6%;
    }
    .hero-left p{
        font-size: 70px;
    }
    .hero-right img{
        width: 400px;
    }
   
}
@media(max-width:900px){
   
    .hero-left p{
        font-size: 45px;
    }
    .hero-right img{
        width: 350px;
    }
   
}
@media(max-width:700px){
   .hero{
    padding: 0 10%;
   }
    .hero-left p{
        padding-top: 10px;
        font-size: 25px;
        padding-left: 0 !important;
    }
    .hero-right{
        display: none;
    }
    .hero-left{
        line-height: 1.2;

    }
    .hero-left h2{
        margin-bottom: 20px;
    }
  
    .hero-latest-btn{
        margin-top: 30px;
    }
    
    section{
        width: auto !important;
        margin-left: 0 !important;
        margin-top: 0 !important;
        form{}
    }
}
