.promotions {
  /* background-image:url('../Assets/homev2.jpg'); */
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 76vh;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-top: 50px;
}
.promotions-lefts {
  height: 75vh;
  width: 50%;
}
.promotions-rights {
  height: 75vh;
  width: 50%;
  padding: 40px;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* .photo-one {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url("../Assets/dental1.jpg");
  border-radius: 30px;
}

.photo-two {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url("../Assets/dental2.jpg");
  border-radius: 30px;
} */

.photo-three {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url("../Assets/dental4.jpg");
  border-radius: 30px;
}

.photo-four {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url("../Assets/dental5.jpg");
  border-radius: 30px;
}

.photo-five {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url("../Assets/dental4.jpg");
  border-radius: 30px;
}

.promotions-lefts p {
  width: 100%;
  color: #221e1e;
  font-size: 32px;
  font-weight: bold;
  /* filter: drop-shadow(5px 1px 2px rgb(102, 100, 100)); */
  font-family: "Montserrat", sans-serif;
  text-align: center;
}
.promotions-hand-icon {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 40px;
}
.promotions-hand-icon img {
  width: 70px;
}

.contain-button{
    width: 100%;
    display: flex;
    justify-content: center;
}
.promotions-latests-btn {
  filter: drop-shadow(4px 6px 12px black);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  /* font-family:cursive; */
  width: 250px;
  height: 60px;
  border-radius: 15px;
  background: #00b241;
  color: white;
  font-size: 24px;
  font-weight: 500;
  cursor: pointer;

}

.shadow-core {
  filter: drop-shadow(4px 6px 12px black);
}

@media (max-width: 1200px) {
  .hero {
    padding: 10px 6%;
  }
  .hero-left p {
    font-size: 70px;
  }
  .hero-right img {
    width: 400px;
  }
}
@media (max-width: 900px) {
  .hero-left p {
    font-size: 45px;
  }
  .hero-right img {
    width: 350px;
  }
}
@media (max-width: 700px) {

  .promotions {
    height: 100%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }

  .promotions-rights{
    width: 100%;
    

  }
  .promotions-lefts{
    width: 100%;
    height: 100%;
    margin-bottom: 40px;
    p{
      font-size: 18px;
    }
  }


 
}
