.promotions {
  /* background-image:url('../Assets/homev2.jpg'); */
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 60vh;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-top: 50px;
}
.promotions-lefts {
  height: 50vh;
  width: 50%;
}
.promotions-rights {
  height: 50vh;
  width: 50%;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.photo-one {
  width: 90%;
  height: 90%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url("../Assets/formImage.jpg");
  border-radius: 30px;
}

.photo-two {
  width: 90%;
  height: 90%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url("../Assets/two.jpg");
  border-radius: 30px;
}

.photo-three {
  width: 90%;
  height: 90%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url("../Assets/three.jpg");
  border-radius: 30px;
}

.promotions-lefts p {
  width: 100%;
  color: #221e1e;
  font-size: 30px;
  font-weight: bold;
  /* filter: drop-shadow(5px 1px 2px rgb(102, 100, 100)); */
  font-family: "Montserrat", sans-serif;
  text-align: center;
}
.promotions-hand-icon {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 40px;
}
.promotions-hand-icon img {
  width: 70px;
}

.contain-button{
    width: 100%;
    display: flex;
    justify-content: center;
}
.promotions-latests-btn {
  filter: drop-shadow(4px 6px 12px black);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  /* font-family:cursive; */
  width: 250px;
  height: 60px;
  border-radius: 15px;
  background: #00b241;
  color: white;
  font-size: 24px;
  font-weight: 500;
  cursor: pointer;

}

.shadow-core {
  filter: drop-shadow(4px 6px 12px black);
}

@media (max-width: 1200px) {
  .hero {
    padding: 10px 6%;
  }
  .hero-left p {
    font-size: 70px;
  }
  .hero-right img {
    width: 400px;
  }
}
@media (max-width: 900px) {
  .hero-left p {
    font-size: 45px;
  }
  .hero-right img {
    width: 350px;
  }
}
@media (max-width: 700px) {
  .hero {
    padding: 0 10%;
  }
  .hero-left p {
    padding-top: 10px;
    font-size: 25px;
    padding-left: 0 !important;
  }
  .hero-right {
    display: none;
  }
  .hero-left {
    line-height: 1.2;
  }
  .hero-left h2 {
    margin-bottom: 20px;
  }

  .hero-latest-btn {
    margin-top: 30px;
  }

  section {
    width: auto !important;
    margin-left: 0 !important;
    margin-top: 0 !important;
    form {
    }
  }
}
