.what{
    background-image: url("../Components/Assets/whatsapp_logo_icon_229310.png");
    background-repeat: no-repeat;
    background-size:cover; 
    background-position: center;
    position: fixed;
    bottom: 6.8em;
    right: 1em;
    z-index: 99999;
    height: 100px;
    width: 100px;
    border-radius: 100%;
    border-color: white;
    border: 1px;
  }
  .hide-type{
    color: transparent;
  }